<div class="container">
  <div class="jumbotron">
    <div class="container text-center">
      <h1>Education</h1>
    </div>
  </div>

  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">The Pennsylvania State University - Schreyer Honors College</div>
        <div class="panel-body"><p>Graduation Date: December 2017</p><p>B.S. in Computer Science and Statistics with Actuarial Science Option</p></div>
        <div class="panel-footer">Cumulative GPA: 3.79/4.00</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-success">
        <div class="panel-heading">Relevant Coursework</div>
        <div class="panel-body">
          <strong>Computer Science</strong>
          <hr>
          <i>CMPSC 121 - Introduction to Programming</i>
          <p>C++, Card Game Projects</p>
          <i>CMPSC 122 - Intermediate Programming</i>
          <p>C++, Data Structures, Encryption/Decryption</p>
          <i>CMPSC 221 - Object-Oriented Programming</i>
          <p>Java, MySql, Sql</p>
          <i>CMPSC 311 - Systems Programming</i>
          <p>C, Linux, 3-D Printer Driver Project</p>
          <i>CMPSC 360 - Discrete Mathematics</i>
          <p>Sets, Relations, Logic, Algorithms</p>
          <i>CMPSC 465 - Data Structures and Algorithms</i>
          <p>Binary Trees, Greedy Algorithm, etc.</p>
          <i>CMPSC 473 - Operating Systems</i>
          <p>C, Journaling, Concurrency, Memory</p>
          <i>CMPSC 442 - Artificial Intelligence</i>
          <p>Naive Bayes, Natural Language Processing Models, Simulated Annealing</p>
          <i>CMPSC 475 - Applications Programming</i>
          <p>iOS Mobile Apps Programming</p>
          <i>CMPEN 271 - Introduction to Digital Systems</i>
          <p>Boolean Logic, Verilog</p>
          <i>CMPEN 331 - Computer Organization and Design</i>
          <p>Assembly, I/O, Memory</p>
          <i>CMPEN 362 - Communication Networks</i>
          <p>HTTP, SMTP, POP, IMAP, etc.</p>
          <i>CMPSC 443 - Introduction to Computer Security</i>
          <p>SQL Injection Attacks, Networking concepts</p>
          <i>CMPSC 464 - Introduction to Theory of Computation</i>
          <p>Finite State Machines, Turing Machines, P, NP, NP-Complete</p>
          <i>CMPSC 431 - Database Management Systems</i>
          <p>B-Trees, External Memory Sort, SQL</p>
          <i>CMPSC 461 - Programming Language Concepts</i>
          <p>Scheme, Functional Programming, OOP Concepts, Tail Recursion</p>
          <i>CSE 565 - Algorithm Design & Analysis (Graduate-level)</i>
          <p>Greedy Algorithms, Dynamic Programming, NP-Complete, Flow Networks</p>
          <br>
          <strong>Statistics</strong>
          <hr>
          <i>STAT 200 - Elementary Statistics</i>
          <p>Basic Probability</p>
          <i>STAT 414 - Probability Theory</i>
          <p>Combinatorics, Permutations, Discrete and Continuous</p>
          <i>STAT 415 - Mathematical Statistics</i>
          <p>Estimation, Hypothesis Testing, Chi-Square</p>
          <i>STAT 416 - Stochastic Modeling</i>
          <p>Transforms, Markov Chains, Birth and Death</p>
          <i>STAT 461 - Analysis of Variance</i>
          <p>ANOVA</p>
          <i>STAT 462 - Applied Regression Analysis</i>
          <p>Linear, Multinomial, Logarithmic Regression</p>
          <i>STAT 466 - Survey Sampling</i>
          <p>Stratified Sampling, Cluster Sampling, etc.</p>
          <i>STAT 463 - Time Series</i>
          <p>AR, MA, ARIMA Models</p>
          <i>STAT 480 - Introduction to SAS</i>
          <p>SAS Programming</p>
          <i>STAT 470 - Problem Solving & Design</i>
          <p>Statistical Reports Writing</p>
          <i>STAT 557 - Data Mining (Graduate-level)</i>
          <p>Neural Networks, Principal Component Analysis, Decision Trees</p>
          <br>
          <strong>Actuarial Science</strong>
          <hr>
          <i>ACCTG 211 - Financial and Managerial Accounting</i>
          <p>Assets, Liabilities, Income Statements</p>
          <i>FIN 301 - Corporate Finance</i>
          <p>Stocks, Bonds, Annuities</p>
          <i>RM 302 - Risk and Insurance</i>
          <p>Insurance Terminology and History</p>
          <i>RM 410 - Compound Interest Annuities</i>
          <p>Exam FM Material</p>
          <i>RM 411 - Actuarial Mathematics I</i>
          <p>Exam MLC Material</p>
          <i>RM 412 - Actuarial Mathematics II</i>
          <p>Exam MLC Material</p>
          <i>RM 497 - Quantitative Analysis Techniques</i>
          <p>R, Regression Analysis, Monte Carlo Simulations</p>
        </div>
        <!--<div class="panel-footer">Buy 50 mobiles and get a gift card</div>-->
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-info">
        <div class="panel-heading">Self-Study</div>
        <div class="panel-body">
          Udemy
        </div>
        <!--<div class="panel-footer">Buy 50 mobiles and get a gift card</div>-->
      </div>
    </div>
  </div>
</div>