<!DOCTYPE html>
<html lang="en">
<head>
  <!-- Theme Made By www.w3schools.com - No Copyright -->
  <title>Bootstrap Theme Simply Me</title>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <link rel="stylesheet" href="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
  <link href="http://fonts.googleapis.com/css?family=Montserrat" rel="stylesheet">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
  <script src="http://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>

</head>

<body>

<!-- First Container -->
<div class="container-fluid bg-1 text-center">
  <h3 class="margin">Edward Chen</h3>
  <img src="https://www.shc.psu.edu/img/people/scholars/shotime/ejc5282.jpg" class="img-responsive img-circle margin" style="display:inline" alt="Edward Chen" width="350" height="350">
  <h3>Computer Science and Statistics - Schreyer Honors College '17 - The Pennsylvania State University </h3>
</div>

<!-- Second Container -->
<div class="container-fluid bg-2 text-center">
  <h3 class="margin">A Bit About Me</h3>
  <p><strong>Hobbies:</strong> Swimming, Gaming, and Developing</p>
  <p><strong>Interests:</strong> Artificial Intelligence, Machine Learning, and Mathematical Modeling</p>
  <a href="https://www.linkedin.com/in/edward-chen-958a7bb4" target="_blank" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-user"></span> LinkedIn
  </a>
  <a href="https://github.com/coded5282" target="_blank" class="btn btn-default btn-lg">
    <span class="glyphicon glyphicon-user"></span> GitHub
  </a>
</div>

</body>