<div class="container">
  <div class="jumbotron">
    <div class="container text-center">
      <h1>Work</h1>
    </div>
  </div>
   <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-info">
        <div class="panel-heading">Research Assistant -- The Pennsylvania State University</div>
        <div class="panel-body">
          <p>Conducted research on image recognition under Professor James Z. Wang</p>
          <p>Developed data collection web applications using Bootstrap framework</p> 
          <p>Programmed in R and MATLAB to analyze large amounts of images and CSV files</p>
        </div>
        <div class="panel-footer">February 2015 - PRESENT</div>
      </div>
    </div>
  </div>
   <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-info">
        <div class="panel-heading">Research Assistant -- The Pennsylvania State University</div>
        <div class="panel-body">
          <p>Conducted research on image recognition under Professor James Z. Wang</p>
          <p>Developed data collection web applications using Bootstrap framework</p> 
          <p>Programmed in R and MATLAB to analyze large amounts of images and CSV files</p>
        </div>
        <div class="panel-footer">February 2015 - May 2017</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-danger">
        <div class="panel-heading">Application Developer Intern -- JP Morgan Chase & Co.</div>
        <div class="panel-body">
          <p>Worked with a team of 6 to code middleware services for mobile payments application using Java</p>
          <p>Analyzed existing databases and created schema for NoSql database Cassandra</p>
          <p>Performed in an agile environment with each member occupying cross-functional roles (Analyst, Developer, QA)</p>
        </div>
        <div class="panel-footer">June 2016 - August 2016</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-success">
        <div class="panel-heading">Game Developer -- The Pennsylvania State University</div>
        <div class="panel-body">
          <p>Designed and coded content in Unity for a video game meant to improve the lives of children with autism</p>
          <p>Implemented eye-tracking capability into various levels of the game using Tobii EyeX technology</p>
        </div>
        <div class="panel-footer">September 2015 - May 2016</div>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="col-sm-12">
      <div class="panel panel-default">
        <div class="panel-heading">Technology Development Intern -- UnitedHealth Group</div>
        <div class="panel-body">
          <p>Conceptualized, developed, and pitched a fully functional Android application addressing medication adherence and health literacy to C-level executives and internal business segment leaders</p>
          <p>Developed Android application which alleviates the stresses of travel and improves interaction between corporate employees</p>
        </div>
        <div class="panel-footer">June 2015 - August 2015</div>
      </div>
    </div>
  </div>
</div>